<!-- Beginning Portal view definition -->
<%
var $ = AD.jQuery;

// This is SERVER side, so let's make displaying labels easier:
// use:   L('[labelKey]')
var L = function(key) { return data.labels.getLabel(key); };
var pL = function(prependText, key) {
    // prepend the given text to the result of the label
    var label = $(L(key)).prepend(prependText);
    return $('<div>').append(label).html();
};
%>
<div id="ui-container" class="container">

    
    <div id="moduleListWidget" class="appdev_list_carousel"></div>
    
    <!--SUMMARY BLOCK OF MODULE - START-->
    <div id="summary-block">
    	<div class="row-fluid" id="summary-block-container">
            <div class="span12">
			Please select a module to begin
            </div>
        </div>
    </div>
    <!--SUMMARY BLOCK OF MODULE - END-->
    
    
	<!--TABS - START-->
    <div id="module-tabs">
        <ul id="myTab" class="nav nav-tabs">
            <li class=""><a href="#module-install" data-toggle="tab"><%- L('[apprad.portal.install]') %></a></li>
            <li class=""><a href="#module-models" data-toggle="tab"><%- L('[apprad.portal.models]') %></a></li>
            <li class=""><a href="#server" data-toggle="tab"><%- L('[apprad.portal.server]') %></a></li>
            <li class=""><a href="#titanium" data-toggle="tab"><%- L('[apprad.portal.titanium]') %></a></li>
            <li class=""><a href="#web-ui" data-toggle="tab"><%- L('[apprad.portal.webui]') %></a></li>
            <li class=""><a href="#labels" data-toggle="tab"><%- L('[apprad.portal.labels]') %></a></li>
            <li class=""><a href="#permissions" data-toggle="tab"><%- L('[apprad.portal.permissions]') %></a></li>
        </ul>
        
        
        
        
        <!--CONTENT OF MODULE TAB-->
        <div id="myTabContent" class="tab-content">
        
        
	        <!--INSTALL WORKING AREA-->
	        <div class="tab-pane fade" id="module-install">
	        
                <div class="container tab-text">
			        <h4><%- L('[apprad.portal.toolTitle.install]') %></h4>
		        </div>
	        
		        <!--Install tabs -->
		        <div id="tabs-install">
		            <ul class="nav nav-tabs">
		              <li><a href="#tab-install-installation"><%- L('[apprad.portal.install.installation]') %></a></li>
		              <li><a href="#tab-install-revision"><%- L('[apprad.portal.install.revisions]') %></a></li>
		            </ul>
                    <section class="tab-text container">
			            <h4><%- L('[apprad.portal.install.installation.instructions]') %></h4>
			        </section>
					
		            <!--INSTALLATION TAB 1 - start-->
                    <div id="tab-install-installation" class="do">
                        <div class="container-fluid space-bottom">
                            <!---->
                            <div class="row-fluid">
                                <!--LEFT COLUMN "FILE" - START-->
                                <div id="installation-file" class="span3 borders margin1percent-left admin">
                                    <div id='installFileList'></div>
                                
                                </div>
                                <!--LEFT COLUMN "FILE" - END-->
                                
                                <!--RIGHT COLUMN "INSTALLATION" - START-->
                                <div id="install-workarea" class="span9">
                                    <!--SQL INSTALL - START-->
                                    <div class="container-fluid">
                                        <!--header start-->
                                        <div class="header space-top litspace-bottom borders">
                                            <input id="install-sql-dbname" type="hidden" value="<%- data.sql_dbname %>" />
                                            <div class="header-title" style="display:inline-block">
                                                <h4><%- L('[apprad.portal.install.sql.Title]') %>:</h4></div>
                                            <div class="add-delete">
                                                <div id="install-sql-busy" class="busyicon-inline"></div>
                                                <a id="install-sql-refresh" class="icon-refresh"></a>
                                            </div>
                                        </div>
                                        <!--header end-->
                                        
                                        <div class="fluid margin-left5">
                                            <p><%- L('[apprad.portal.install.sql.instructions]') %></p>
                                        </div>
                                        
                                        <!--Content - start-->
                                        <div id="install-installation-sql"></div>
                                        
                                        <!--Content - end-->                                
                                    </div>
                                    <!--SQL INSTALL - END-->
                                    <hr>
                                    
                                    <!--LABELS FILES - START-->
                                    <div class="container-fluid">
                                        <!--header start-->
                                        <div class="header litspace-bottom borders">
                                            <div class="header-title"><h4><%- L('[apprad.portal.install.installation.LabelFiles]') %></h4></div>
                                            <div class="add-delete">
                                                <div id="install-labels-busy" class="busyicon-inline"></div>
                                                <a id="install-labels-refresh" class="icon-refresh"></a>
                                            </div>
                                        </div>
                                        <!--header end-->
                                        
                                        <div class="fluid padding5-left">
                                            <p><%- L('[apprad.portal.install.installation.LabelInstructions]') %></p>
                                        </div>
                                        
                                        <div id="install-installation-labels"></div>

                                        <!--Content - end-->                                
                                    </div>
                                    <!--LABELS FILES - END-->
                                    
                                </div>
                                <!--RIGHT COLUMN "INSTALLATION" - END-->
                            </div>
                            <!---->
                        </div>
                    </div>
                    <!--INSTALLATION TAB 1 - end-->
		            
		        </div>
		        <!--Install tabs - end-->
	        
	        </div>
	        <!--INSTALL WORKING END-->
        
        
			<!--MODELS-->
            <div class="tab-pane fade" id="module-models">
                <div class="tab-text container">
			        <h4><%- L('[apprad.portal.model.title]') %></h4>
		        </div>
	        
		        <!--Models tabs -->
		        <div id="tabs-models">		
		            <!--INSTALLATION TAB 1 - start-->
                    <div id="module-models" >
                		<div class="container-fluid space-bottom" style="padding-left: 0px; padding-right: 0px;">
                    		<div class="row-fluid">
                    
                        		<!--LEFT COLUMN "MODEL" - START-->
                        		<div class="span3 borders space-top margin1percent-left admin">
                            		<div id="modelListWidget"></div>    
                        		</div>
                        		<!--LEFT COLUMN "MODEL" - END-->
                        
                        
                        		<!--RIGHT COLUMN "CREATE MODEL" - START-->
                        		<div class="span9">
                            		<div id="modelAddWidget"></div>            
                        		</div>
                        		<!--RIGHT COLUMN "CREATE MODEL" - END-->
                        	</div>
                    	</div>
                	</div>
                </div>
                <!--container - end-->
            </div>
            <!--MODELS END-->
            
            
            <!--SERVER-->
            <div class="tab-pane fade" id="server">
                <div class="tab-text container">
                    <h4><%- L('[apprad.portal.server.title]') %></h4>
                </div>
                <!--inside tab-->
                <div id="tabs4">
                    <ul class="nav nav-tabs">
                      <li><a href="#server-tab-api"><%- L('[apprad.portal.server.Api]') %></a></li>
                      <li><a href="#server-tab-model-urls"><%- L('[apprad.portal.server.ModelUrls]') %></a></li>
                      <li><a href="#server-tab-module-api"><%- L('[apprad.portal.server.ModuleApi]') %></a></li>
                      <li><a href="#server-tab-generic"><%- L('[apprad.portal.server.Generic]') %></a></li>
                    </ul>
                    <section class="tab-text container-fluid">
                        <h4 class="tab-title server-tab-api"><%- L('[apprad.portal.server.title.Api]') %></h4>
                        <h4 class="tab-title server-tab-model-urls"><%- L('[apprad.portal.server.title.ModelUrls]') %></h4>
                        <h4 class="tab-title server-tab-module-api"><%- L('[apprad.portal.server.title.ModuleApi]') %></h4>
                        <h4 class="tab-title server-tab-generic"><%- L('[apprad.portal.server.title.Generic]') %></h4>
                    </section>
                    <div class="row-fluid">
                        <!--LEFT COLUMN "Server API" - START-->
                        <div id="scripts" class="span3 margin1percent-right borders margintop10 admin">
                            <div id="serverApiListWidget"></div>    
                        </div>
                    
                        <div id="server-tab-api" class="do">                                                                       
                             <div class="span9">                                    
                                 <div class="specialspn12 margin1percent-left margintop10"> 
                                      <div class="row-fluid">
                                           <div class="span12">                                                  
                                                <div class="span12 margin1percent-left">
                                                    <!--ADD CONTROLLERS - START-->
                                                    <div class="span12 margin1percent-right margintop09">
                                                          <div id="addServiceForm"></div> 
                                                    </div>
                                                </div>                                                                                      
                                          </div>
                                     </div>
                				</div>
                		    </div>
                	   </div>
                	</div> 
                  </div>
                </div>    
            
            
            <!--WEB UI-->
            <div class="tab-pane fade" id="web-ui">
                <div class="tab-text container">
                    <h4><%- L('[apprad.portal.webui.title]') %></h4>
                </div>
                <!--inside tab-->
                <div id="tabs4">
                    <ul class="nav nav-tabs">
                      <li><a href="#webui-tab-pages"><%- L('[apprad.portal.webui.Pages]') %></a></li>
                      <li><a href="#webui-tab-widgets"><%- L('[apprad.portal.webui.Widgets]') %></a></li>
                      <li><a href="#webui-tab-labels"><%- L('[apprad.portal.webui.Labels]') %></a></li>
                    </ul>
                    <section class="tab-text container-fluid">
                        <h4 class="tab-title webui-tab-pages"><%- L('[apprad.portal.webui.title.Pages]') %></h4>
                        <h4 class="tab-title webui-tab-widgets"><%- L('[apprad.portal.webui.title.Widgets]') %></h4>
                        <h4 class="tab-title webui-tab-labels"><%- L('[apprad.portal.webui.title.Labels]') %></h4>
                    </section>
                      <div class="row-fluid">
                        <!--LEFT COLUMN "Pages" - START-->
                        <div id="pages" class="span3 margin1percent-right borders margintop10 admin">
                            <div id="pageListWidget"></div>    
                        </div>
                        <!--LEFT COLUMN "Pages" - END-->              
                        
                        <!--RIGHT COLUMN - START-->
                        <div class="container-fluid">
                            <!--TAB 1 PAGES - start-->
                            <div id="webui-tab-pages" class="do">
                                <div class="container-fluid">
                                    <!---->
                                    <div class="row-fluid">                                                                           
                                        <!--RIGHT COLUMN "CONTROLLERS" - START-->
                                        <div class="span9">
                                            <!--WIDGETS BAR START-->
                                            <div id="widget-bar" class="span1 space-top">
                                                <h5 class="rotate-90">Widgets</h5>
                                                <div id="widget-icons">
                                                    <button class="btn btn-mini disabled" type="button"> </button><br>
                                                    <button class="btn btn-mini" type="button"> </button><br>
                                                    <button class="btn btn-mini" type="button"> </button><br>
                                                    <button class="btn btn-mini" type="button"> </button><br>
                                                </div>
                                            </div>
                                            <!--WIDGETS BAR END-->
                                            
                                        <!--PAGES WORK AREA - START-->                                      
                                        <div class="specialspn12 margin1percent-left margintop10"> 
                                            <!---->
                                            <div class="row-fluid">
                                                <div class="span12">                                                  
                                                    <!--controllers start-->
                                                    <div class="span6 margin1percent-left">
                                                      
                                                      	<!--ADD CONTROLLERS - START-->
                                                      	<div class="span10 margin1percent-right borders margintop09">
                                                          <div id="controllerListWidget"></div> 
                                                       	</div>
                                                       	<!--ADD CONTROLLERS - END-->
                                                     </div>                                                                                      
                                                        <!--header start-->
                                                    
                                                        <!--views start-->
                                                    	<div id="views" class="span6 margin1percent-right borders margintop09">
                                                          <div id="viewListWidget"></div> 
                                                     	</div> 
                                                        <!--views end-->
                                                </div>
                                          </div>
                                            <!---->  
                                            <br> 
                                            <div id="editorWidget"></div>                                
                                            <!--editor - end-->
                                            <br class="clear">
                                            <br>
                                            
                                        </div>
                                        <!--PAGES WORK AREA - END-->
                                        
                                        </div>
                                        <!--RIGHT COLUMN "CONTROLLERS" - END-->
                                    </div>
                                    <!---->        
                                </div>             
                            </div>
                            <!--TAB 1 PAGES - end-->
                            
                            <!--TAB 2 WIDGETS URLS - START-->
                            <div id="webui-tab-widgets" class="do">
                                <div class="container-fluid">
                                    <!---->
                                   <h4><%- L('[apprad.portal.webui.Widgets]') %></h4>
                                    <!---->
                                </div>                    
                            </div>
                            <!--TAB 2 WIDGETS - END-->
                            
                            <!--TAB 3 WEB UI LABELS - START-->
                            <div id="webui-tab-labels" class="do">
                                <div class="container-fluid margin10-left">
                                    <div id="webuiLabelForm"></div>
                                </div>                    
                            </div>
                            <!--TAB 3 WEB UI LABELS - END-->
                        </div>
                        <!--RIGHT COLUMN - END-->
                    </div>                    
                </div>            
                <!--inside tab - end-->
            </div>
            <!--WEB UI END-->
            
            
            <!--LABELS-->
            <div class="tab-pane fade" id="labels">
                <div class="tab-text container">
                    <h4><%- L('[apprad.portal.labels.title]') %></h4>
                </div>
                <!--container- start-->
                <div class="container-fluid space-bottom">
                    <div class="row-fluid">
                        <!--LEFT COLUMN "LABEL" - START-->
                        <div class="span3 borders space-top margin1percent-left admin">
                            <div id="labelListWidget"></div>
                        </div>
                        <!--LEFT COLUMN "MODEL" - END-->
                        
                        <!--RIGHT COLUMN "CREATE MODEL" - START-->
                        <div id="labels-translation-tool" class="span9">
                            <div class="container-fluid margintop10">
                                <!---->
                                <div class="row-fluid">
                                    <div class="span6">
                                        <p><%- L('[apprad.portal.labels.language.source]') %>: <span id="labels-language-source"></span>
                                    </div>
                                    <div class="span6">
                                        <p><%- L('[apprad.portal.labels.language.destination]') %>: <span id="labels-language-destination" class="text-error bold"></span></p>
                                    </div>
                                </div>
                                <!---->
                                <!--LABELS WORKING AREA - START-->
                                <div class="row-fluid">
                                    <!--data - start-->
                                    <div id="labels-data" class="span10">
                                        <!--header start-->
                                        <div class="header">
                                            <div class="header-title"><h4><%- L('[apprad.portal.labels.translation.title]') %>:</h4></div>
                                             <div class="add-delete">
                                                <a><span class="icon-minus"></span></a>
                                            </div>                                           
                                        </div>
                                        <!--header end-->
                                        
                                        <!--CONTENTS OF LABELS HERE - START -->
                                        <div class="fluid vtscrl-bar" style="height:580px">
                                            <table class="table table-striped">
                                                <tr>
                                                    <td>[title]</td>
                                                    <td>Title</td>
                                                    <td><textarea rows="3">[ko] Title</textarea></td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>[desc]</td>
                                                    <td>Description</td>
                                                    <td><textarea rows="3">[ko] Title</textarea></td>
                                                </tr>
                                                <tr>
                                                    <td>[btnS]</td>
                                                    <td>Save</td>
                                                    <td><textarea rows="3">[ko] Title</textarea></td>
                                                </tr>
                                                <tr>
                                                    <td>btnC]</td>
                                                    <td>Cancel</td>
                                                    <td><textarea rows="3">[ko] Title</textarea></td>
                                                </tr>
                                                <tr>
                                                    <td>[btnS]</td>
                                                    <td>Save</td>
                                                    <td><textarea rows="3">[ko] Title</textarea></td>
                                                </tr>
                                                <tr>
                                                    <td>[btnS]</td>
                                                    <td>Save</td>
                                                    <td><textarea rows="3">[ko] Title</textarea></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--CONTENTS OF LABELS HERE - END -->
                                    </div> 
                                    <!--data - end-->
                                </div>
                                <!--LABELS WORKING AREA - START-->
                            </div>
    
                                    
                        </div>
                        <!--RIGHT COLUMN "CREATE MODEL" - END-->
                    </div>
                </div>
                <!--container - end-->
            </div>
            <!--LABELS END-->
            
    
    
    	</div>
        <!--CONTENT OF MODULE TAB END-->
    
    </div>    
    <!--TABS - END-->